// font sizes ------------------------------------
.fz-extra-small{ font-size: 1.2rem !important; }
.fz-small{ font-size: 1.4rem !important; }
.fz-normal{ font-size: 1.6rem !important; }
.fz-large{ font-size: 2rem !important; }
.fz-extra-large{ font-size: 2.4rem !important; }
// colors ------------------------------------

.text-black{ color: $color-black !important; }
.text-theme{ color: $color-theme !important; }
.font-weight-medium { font-weight: 500 !important; }

.hover-text-black:hover{ color: $color-black !important; }
.hover-text-dark:hover{ color: $color-dark !important; }
.hover-text-white:hover{ color: $color-white !important; }
.hover-text-theme:hover{ color: $color-theme !important; }
.hover-underline:hover { text-decoration: underline; }

.bg-black{ background-color: $color-black !important; }
.bg-theme{ background-color: $color-theme !important; }

.hover-bg-dark:hover{ background-color: $color-dark !important; }
.hover-bg-black:hover{ background-color: $color-black !important; }
.hover-bg-white:hover{ background-color: $color-white !important; }
.hover-bg-theme:hover{ background-color: $color-theme !important; }
.hover-shadow:hover { box-shadow: 0 0 22px 0px rgba(0, 0, 0, 0.2) !important; }

.rounded-10 { border-radius: 10px; }