// colors ------------------
$color-white: #fff;
$color-black: #000;
$color-dark: #343a40;
$text-black: #333;
$color-theme: #FF6A00;
$color-light-gray: #F7F7F7;
$color-gray: darken($color-light-gray, 10);
