.navigation > ul {
    display: inline-block;

    li {
        border: none;
        position: relative;
        display: inline-block;

        a {
            font-size: 1.3rem;
            color: $color-dark;
            font-weight: 500;
            padding: 1rem 1.5rem;
            display: block;

            &:hover {
                color: $color-theme;
            }
        }

        ul {
            padding: 1rem 0;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            width: 30rem;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transform: translateY(1rem);
            transition: 0.3s;

            li {
                display: block;
                a {
                    padding: 0.5rem 1.5rem;
                }
                ul {
                    top: 0;
                    left: 100%;
                }
            }
        }

        &:hover {
            & > a {
                color: $color-theme;
            }
            & > ul {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

.subscribe-form {
    input {
        width: 95%;
        max-width: 30rem;
    }
}

.product-card {
    transition: 0.3s;
}
