.banner-section {

    .navigation {
        ul {
            li {
                display: block;
            }

            ul {
                left: 100%;
                top: 0;
            }
        }
    }

    .banner-slider{
        overflow: hidden;

        .arrows {
        	&.prev {
        		transform: translate(-100%, -50%);
        	}
        	&.next {
        		transform: translate(100%, -50%);
        	}
        }
        
        &:hover {
            .arrows {
                transform: translate(0, -50%);
            }
        }
    }
}