nav {
    .logo-area {
        padding: 0.8rem 0;
        .logo {
            height: 4.4rem;
        }
    }
    background-color: #fff;

    .nav-left {
        float: left;
    }
    .nav-right {
        float: right;
    }

    .navbar-middle {
        border-bottom: 1px solid $color-gray;
        padding: 1rem;

        .card-love {
            a {
                color: $color-dark;
                font-size: 1.2rem;
                padding: 1rem;
                display: inline-block;
                text-align: center;

                i {
                    font-size: 2rem;
                    transition: 0.2s;
                }
                &:hover i {
                    color: $color-theme;
                }
            }
        }
    }
    .nav-wrapper {
        border: 1px solid $color-gray;

        .main-desktop-nav {
            background-color: $color-white;
        }

        .mobile-nav {
            ul {
                overflow-y: scroll;
                display: flex;

                &::-webkit-scrollbar {
                    display: none;
                }
                li {
                    a {
                        white-space: nowrap;
                        padding: 1rem 1.5rem;
                        border-bottom: 3px solid transparent;
                        color: $color-dark;
                        font-size: 1.4rem;

                        &:hover {
                            color: $color-theme;
                        }

                        &.active {
                            border-bottom-color: $color-theme;
                        }
                    }
                }
            }
        }
    }

    .bottom-nav-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        text-align: center;

        a {
            padding: 1rem 0;
            color: $color-black;

            &.active {
                color: $color-theme;
            }
        }

        i {
            font-size: 3rem;
        }
    }
}
