.search-box {
    padding: .8rem;
    form {
        display: flex;

        input {
            font-size: 1.2rem;
            padding: 1rem;
            padding-left: 2.5rem;
            // border-top-left-radius: 50px;
            // border-bottom-left-radius: 50px;
            border-radius: 50px;
            display: inline-block;
            width: 30rem;
            border: 1px solid $color-black;
        }

        select {
            padding: 1rem;
            font-size: 1.2rem;
            border: none;
            border-left: 1px solid $color-gray;
            border-right: 1px solid $color-gray;
            border-top: 1px solid $color-black;
            border-bottom: 1px solid $color-black;
        }

        button {
            font-size: 2rem;
            padding: 0.5rem;
            padding-right: 1.5rem;
            padding-left: 1rem;
            border: none;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            background-color: $color-white;
            color: $text-black;
            border: 1px solid $color-black;
            border-left: none;
        }
    }
}
